<div class="form-container">
  <form action="">
    <div class="input-box">
      <span>Location</span>
      <input type="search" name="" id="" placeholder="Search Places">
    </div>

    <div class="input-box">
      <span>Pick-up Date</span>
      <input type="date" name="" id="">
    </div>

    <div class="input-box">
      <span>Pick-up Time</span>
      <input type="time" name="" id="">
    </div>

    <div class="input-box">
      <span>Return Date</span>
      <input type="date" name="" id="">
    </div>

    <div class="input-box">
      <span>Return Time</span>
      <input type="time" name="" id="">
    </div>

    <div class="input-box">
      <span>Car Category</span>
      <select name="cars" id="cars">
          <option value="electric">Electric</option>
          <option value="hatchback">Hatchback</option>
      </select>
    </div>

    <input type="submit" name="Search" id="" class="btn">

  </form>
</div>
