<!--Navbar-->

<header>
  <ul class="navbar">
    <li><a href="">Home</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/cars">Cars</a></li>
    <li><a href="/contactus">Contact Us</a></li>
  </ul>

  <a href=""><strong>Torque.</strong></a>
  <div class="bx bx-menu" id="menu-icon"></div>

  <div class="header-btn">
    <a href="/signup" class="sign-up">Sign Up</a>
    <a href="/login" class="login">Login</a>
  </div>
</header>

<!--
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>Torque.</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cars">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
