<!--Navbar-->
<header>
  <ul class="navbar my-2">
    <li><a href="">Home</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/cars">Cars</a></li>
    <li><a href="/contactus">Contact Us</a></li>
  </ul>

  <a href=""><strong>Torque.</strong></a>
  <div class="bx bx-menu" id="menu-icon"></div>

  <div class="header-btn">
    <a href="/sign-up" class="btn mx-2">Sign Up</a>
    <button type="button" class="btn mx-2"  >
      Sign Up
    </button>
    <button type="button" class="btn mx-2" data-mdb-toggle="modal" data-mdb-target="#LoginModal">
      Login
    </button>
  </div>
</header>
