<app-navbar></app-navbar>



<!--About Us-->
<section class="about mx-4 my-6" id="abt">
  <div class="heading">
    <h1>About Us</h1>
    <span>Best Customer Experience</span>
  </div>

  <div class="about-container">
    <div class="about-img">
      <img src="../../../assets/imgs/about.png" alt="">
    </div>
    <div class="about-text">
      <span>About Us</span>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam atque necessitatibus perferendis adipisci.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis explicabo nobis rem ad nostrum nesciunt quam. Minus dolorum veniam similique laborum eveniet, culpa molestiae doloribus maiores quam tempora, praesentium explicabo!</p>
    </div>
  </div>
</section>

<!--Comments from customers-->

<section class="comments mx-4 my-6" id="cmnts">
  <div class="heading">
    <h1>What our Customers say</h1>
    <span>Reviews</span>
  </div>

  <div class="reviews-container">
    <div class="box">
      <div class="rev-img">
        <img src="../../../assets/imgs/rev1.jpg" alt="">
      </div>
      <h2>Some name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla
          praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam
          atque necessitatibus perferendis adipisci.</p>
    </div>

    <div class="box">
      <div class="rev-img">
        <img src="../../../assets/imgs/rev2.jpg" alt="">
      </div>
      <h2>Some name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla
          praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam
          atque necessitatibus perferendis adipisci.</p>
    </div>

    <div class="box">
      <div class="rev-img">
        <img src="../../../assets/imgs/rev3.jpg" alt="">
      </div>
      <h2>Some name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla
          praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam
          atque necessitatibus perferendis adipisci.</p>
    </div>
  </div>
</section>

<!--FAQ Section-->

<section class="faqs mx-5 my-6" id="faq">

  <div class="heading">
    <h1>Frequently Asked Questions</h1>
    <span>Reviews</span>
  </div>

  <div class="accordion mb-6" id="basicAccordion">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Age requirements for renters ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <strong>Torque rents vehicles to individuals who are 25 or older.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Forms of payment ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <strong>Torque accepts most major credit cards, as well as Visa and Mastercard debit cards, and you can pay using paypal as a form of payment.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            How much does it cost to rent a car ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>Car rental cost depends on a few factors such as location, availability, vehicle, length of the contract.<a routerLink="/cars"> See here for more details about each vehicle.</a></strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Do I need to return the vehicle with a full tank ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <strong>Torque does not encourage that thought./</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
