<app-navbar></app-navbar>

<header>
  <!-- Full Page Intro -->
  <div class="view"
    style="background-image: url('../../../assets/imgs/background-img.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>

<!--About Us-->
<section class="about mx-4" id="abt">
  <div class="heading my-4">
    <h1>About Us</h1>
    <span>Best Customer Experience</span>
  </div>

  <div class="about-container">
    <div class="about-img">
      <img src="" alt="">
    </div>
    <div class="about-text">
      <span>About Us</span>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam atque necessitatibus perferendis adipisci.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis explicabo nobis rem ad nostrum nesciunt quam. Minus dolorum veniam similique laborum eveniet, culpa molestiae doloribus maiores quam tempora, praesentium explicabo!</p>
    </div>
  </div>
</section>

<!--Comments from customers-->

<section class="comments mx-4" id="cmnts">
  <div class="heading my-4">
    <h1>What our Customers say</h1>
    <span>Reviews</span>
  </div>

  <div class="reviews-container">
    <div class="box">
      <div class="rev-img">
        <img src="" alt="">
      </div>
      <h2>Some name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla
          praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam
          atque necessitatibus perferendis adipisci.</p>
    </div>

    <div class="box">
      <div class="rev-img">
        <img src="" alt="">
      </div>
      <h2>Some name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla
          praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam
          atque necessitatibus perferendis adipisci.</p>
    </div>

    <div class="box">
      <div class="rev-img">
        <img src="" alt="">
      </div>
      <h2>Some name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, hic? Repudiandae accusamus harum nulla
          praesentium, autem accusantium inventore reprehenderit, eligendi aliquam nemo dolorum quidem ducimus quibusdam
          atque necessitatibus perferendis adipisci.</p>
    </div>
  </div>
</section>

<!--FAQ Section-->

<div class="heading my-4">
  <h1>Frequently Asked Questions</h1>
  <span>Reviews</span>
</div>

<section class="faqs mx-5 mb-4" id="faq">
  <div class="accordion w-100" id="basicAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#basicAccordionCollapseOne" aria-expanded="false" aria-controls="collapseOne">
          Question #1
        </button>
      </h2>
      <div id="basicAccordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-mdb-parent="#basicAccordion" style="">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#basicAccordionCollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Question #2
        </button>
      </h2>
      <div id="basicAccordionCollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-mdb-parent="#basicAccordion" style="">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
          Question #3
        </button>
      </h2>
      <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-mdb-parent="#basicAccordion" style="">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
