<app-navbar></app-navbar>

<header>
  <!-- Full Page Intro -->
  <div class="view"
    style="background-image: url('../../../assets/imgs/background-img.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>

<section class="about mb-6" id="abt">
  <div class="heading my-4">
    <h1>Super Cars</h1>
    <span>Here is our vehicles for you to see</span>
  </div>

  <div class="cars-container">
    <div class="box">
      <div class="box-img">
        <img src="" alt="">
        <p>2018</p>
        <h3>2018 Honda Civic</h3>
        <h2>$85 per day</h2>
        <a href="" class="btn">Rent Now</a>
      </div>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="" alt="">
        <p>2018</p>
        <h3>2018 Honda Civic</h3>
        <h2>$85 per day</h2>
        <a href="" class="btn">Rent Now</a>
      </div>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="" alt="">
        <p>2018</p>
        <h3>2018 Honda Civic</h3>
        <h2>$85 per day</h2>
        <a href="" class="btn">Rent Now</a>
      </div>
    </div>

  </div>
</section>

<section class="about mb-6" id="abt">
  <div class="heading my-4">
    <h1>Super Cars</h1>
    <span>Here is our vehicles for you to see</span>
  </div>

  <div class="cars-container">
    <div class="box">
      <div class="box-img">
        <img src="" alt="">
        <p>2018</p>
        <h3>2018 Honda Civic</h3>
        <h2>$85 per day</h2>
        <a href="" class="btn">Rent Now</a>
      </div>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="" alt="">
        <p>2018</p>
        <h3>2018 Honda Civic</h3>
        <h2>$85 per day</h2>
        <a href="" class="btn">Rent Now</a>
      </div>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="" alt="">
        <p>2018</p>
        <h3>2018 Honda Civic</h3>
        <h2>$85 per day</h2>
        <a href="" class="btn">Rent Now</a>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
